# Виртуальное окружение
venv/
.venv/
env/
.env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Кэш тестов и линтеров
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Редактор и ОС
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
Desktop.ini
